.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
  }
  .nav li {
    float: left;
  }
  img {
    float: left;
    padding: 6px;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .img-container {
    text-align: center;
    display: block;
  }
  
  .nav li a:hover {
      background-color: rgb(87, 87, 87);
  }
  .thearchive img {
    float: left;
  }
  .thearchive h1 {
    font-family: 'Inconsolata', monospace;
    color: white;
  }
  body {
      background-color: black;
      background-image: radial-gradient(
    rgba(0, 27, 150, 0.75), black 120%);
      height: 100vh;
      text-shadow: 0 0 5px #C8C8C8;
    }
    .series_links ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(0, 0, 0);
      font-family: 'Montserrat', sans-serif;
    }
    .series_links li a {
      display: block;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    .series_links li a:hover {
      background-color: rgb(122, 122, 122);
    }
    .seriesinfo h1 {
      font-family: 'Baloo Paaji 2', cursive;
      text-align: center;
      font-size: 64px;
      color: white;
    }
    .seriesinfo h2 {
      font-family: 'Baloo Paaji 2', cursive;
      text-align: center;
      font-size: 32px;
      color: white;
    }
    .seriesinfo h3 {
      font-family: 'Baloo Paaji 2', cursive;
      text-align: center;
      font-size: 24;
      color: white;
    }
    .seriesinfo p {
      font-family: 'Baloo Paaji 2', cursive;
      color: white;
    }