---
title: Blog
layout: base
---

<!--Blog taken from the NCX Programming website. www.ncxprogramming.com-->

<head>
    <link rel="stylesheet" href="../assets/css/blog.css">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

{% assign years = site.posts
| group_by_exp: "post", "post.date | date: '%Y'"
%}

<div class="text-center pt-3">
    <h1 class="top-text">NinjaCheetah's Blog</h1>
</div>
<div class="container">
    {% for year in years %}
    <h1 style="margin-top: -5%;">{{ year.name }}</h1>
    <div class="row" style="margin-bottom:7rem">
        {% for post in year.items %}
        <div class="col-xl-4">
            {% if post.hidden == null %}
            <div class="card">
                {% if post.icon == null %}
                <img src="assets/img/blog/blog-placeholder.png" class="card-img-top blog-img">
                {% else %}
                <img src="{{ post.icon }}" class="card-img-top blog-img">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title text-start blog-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <p class="author-date">{{ post.author }} - {{ post.date | date: "%Y-%m-%d" }}</p>
                    {% if post.desc == null %}
                    <p class="card-text">{{ post.excerpt }}</p>
                    {% else %}
                    <p class="card-text" style="margin-top: -4.5%"><br>{{ post.desc }}</p>
                    {% endif %}
                </div>
            </div>
            <div style="opacity: 0">.</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
