---
title: ninjacheetah.dev
layout: default
---

<div class="page-intro">
    <h1>ninjacheetah.dev</h1>
    <p>new year, new complete rewrite of my website! maybe this one will stick around a little longer...</p>
</div>

{% assign years = site.posts
| group_by_exp: "post", "post.date | date: '%Y'"
%}

<div>
    {% for year in years %}
    <h2>{{ year.name }}</h2>
    <div class="blog-list-year">
        {% for post in year.items %}
        <div>
            {% if post.hidden == null %}
            <p style="margin-bottom: 1rem;">
                <a href="{{ post.url }}">{{ post.title }}</a> 
                <span class="blog-list-date-span">{{ post.date | date: "%Y-%m-%d" }}</span>
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
