---
title: projects
desc: check out all the projects that I've created or otherwise worked on
layout: default
permalink: /projects/
---

<div class="page-intro">
    <h1>projects</h1>
    <p>the various cool things that I've created or otherwise worked on!</p>
</div>

<div>
    {% for item in site.data.projects %}
    <div class="project-card">
        <a href="{{ item.url }}" target="_blank">
            {% include svg/project-banners/{{ item.name }}.svg %}
        </a>
        <p>
            <a href="{{ item.url }}" target="_blank"><span style="font-size: 1.5em; font-weight: 600;">{{ item.name }}</span></a>
            <br>
            <span class="project-stack-span">Stack: {{ item.stack }}</span>
            <br>
            {{ item.desc }}
        </p>
    </div>
    {% endfor %}
</div>
