---
title: projects
layout: gradient-bg
---

<div class="container-fluid align-items-center min-vh-100 mt-3">
    <div class="row" style="margin-bottom: 2rem;">
            {% for project in site.projects %}
            <div class="col-md-3 mb-3">
                <div class="card translucent-card">
                    {% if project.icon == null %}
                    <img src="/assets/img/icons/placeholder.png" class="card-img-top img-fluid">
                    {% else %}
                    <img src="/assets/img/icons/{{ project.icon }}" class="card-img-top img-fluid">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ project.title }}</h4>
                        <p class="card-text">{{ project.short-desc }}</p>
                        <a href="{{ project.url }}" class="card-link">Read More</a>
                        <a href="{{ project.repo }}" class="card-link">Source Code</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</div>
