---
title: projects
layout: gradient-bg
---

{% include nav.html %}
<div class="row align-items-center">
    {% for project in site.projects %}
    <div class="col-lg-3 mb-4">
        <a href="{{ project.url }}" style="text-decoration: none;">
            <div class="translucent-frame-pill text-center">
                <img src="/assets/icons/{{ project.icon }}" class="img-pill" style="height: auto; width: 11rem" alt="Icon for the program {{ project.title }}">
                <h1 style="font-weight: 600; font-size: 2.5em;" class="mt-3 mb-3">{{ project.title }}</h1>
                <p style="font-weight: 300; font-size: 1em;">{{ project.short-desc }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
