
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav li {
    float: left;
  }
  
  img {
    float: left;
    padding: 6px;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .img-container {
    text-align: center;
    display: block;
  }
  
  .nav li a:hover {
      background-color: #111;
  }
  
  body {
    background-color: #A2A2A2;
    font-family: sans-serif;
  }
  
  .intro p {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .construction p {
      color: crimson;
      font-size: 24px;
      text-align: right;
  }
  .construction h1 {
      font-size: 48px;
      text-align: right;
      font-family: 'Baloo Paaji 2', cursive;
  }
  .main_mainpage h2 {
      text-align: right;
      font-family: 'Baloo Paaji 2', cursive;
  }
  .vidheading h1{
      text-align: center;
      font-family: 'Baloo Paaji 2', cursive;
  }
  .vidlinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
  }
  .vidlinks li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .vidlinks li a:hover {
    background-color: rgb(112, 112, 112);
  }
  .back a {
      color: black;
      font-family: 'Baloo Paaji 2', cursive;
      font-size: 24px;
      text-decoration: none;
  }
  .standard_heading h1 {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 24px;
    text-align: center;
  }
  .series_links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(124, 124, 124);
    font-family: 'Montserrat', sans-serif;
  }
  .series_links li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .series_links li a:hover {
    background-color: rgb(255, 255, 255);
  }
  .archive ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(140, 255, 230);
    font-family: 'Montserrat', sans-serif;
  }
  .archive li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .archive li a:hover {
    background-color: rgb(0, 107, 80);
  }
  .seriesinfo h1 {
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center;
    font-size: 64px;
  }
  .seriesinfo h2 {
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center;
    font-size: 32px;
  }
  .skin_downloads h1 {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 24px;
    text-align: center;
  }
  .skin_downloads a {
    text-align: center;
    font-size: 18px;
    color: blue;
    text-decoration: none;
    display: block;
  }
  .skin_downloads a:visited {
    color: blue;
    text-decoration: none;
    display: block;
  }