<div class="nav">
    <nav>
        <ul>
            <li class="navstd"><a href="/">Home</a></li>
            <li class="navstd"><a href="/projects/">Projects</a></li>
            <li class="navstd"><a href="/aboutme">About Me</a></li>
            <li class="navstd"><a href="/old/">Old</a></li>
            <li class="navimg"><a href="https://github.com/NinjaCheetah" target="_blank"><img src="https://cdn.ncxprogramming.com/file/image/navbar/github-light.svg" style="width:32px;height:32px;"/></a></li>
            <li class="navimg">
                <div class="dropdown">
                <a class="dropbtn"><img src="https://cdn.ncxprogramming.com/file/image/navbar/theme.svg" style="width:32px;height:32px;"/></a>
                    <div class="dropdown-content">
                      <a id="lightTheme" href="#">Light</a>
                      <a id="roseTheme" href="#">Rose</a>
                      <a id="darkTheme" href="#">Dark</a>
                      <a id="blackTheme"href="#">Black</a>
                    </div>
                </div>
            </li>
            <li class="navalt"><a href="/blog">My Blog</a></li>
        </ul>
    </nav>
</div>