<nav>
    <div class="translucent-pill text-center">
        <div class="list-group list-group-horizontal translucent-list">
            <a href="/" class="list-group-item list-group-item-action">
                <h5 style="font-weight: 600;"><i class="bi bi-house"></i></h5>
                <h5 style="font-weight: 600;">home</h5>
            </a>
            <a href="/blog" class="list-group-item list-group-item-action">
                <h5 style="font-weight: 600;"><i class="bi bi-journal-bookmark-fill"></i></h5>
                <h5 style="font-weight: 600;">blog</h5>
            </a>
            <a href="/projects" class="list-group-item list-group-item-action">
                <h5 style="font-weight: 600;"><i class="bi bi-code-slash"></i></h5>
                <h5 style="font-weight: 600;">projects</h5>
            </a>
            <a href="https://docs.ninjacheetah.dev" class="list-group-item list-group-item-action">
                <h5 style="font-weight: 600;"><i class="bi bi-book"></i></h5>
                <h5 style="font-weight: 600;">docs</h5>
            </a>
        </div>
    </div>
</nav>
