{% if page.title == "Error 404" or page.title == "About Me" %}
<nav class="navbar navbar-dark navbar-expand-lg bg-black">
{% else %}
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
{% endif %}
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NinjaCheetah's Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPrimary">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutme">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graphics/">Graphics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Theme </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" onclick="chooseTheme(&quot;light&quot;)" href="javascript:void(0);">Light</a></li>
                        <li><a class="dropdown-item" onclick="chooseTheme(&quot;dark&quot;)" href="javascript:void(0);">Dark</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>