{% if page.title == "Error 404" or page.title == "About Me" %}
<nav class="navbar navbar-dark navbar-expand-lg bg-black">
{% else %}
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
{% endif %}
    <div class="container-fluid">
        <a class="navbar-brand" href="#">NinjaCheetah's Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPrimary">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/old/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/old/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/old/aboutme">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/old/graphics/">Graphics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>