a {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

.top-text {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 2%;
}

.blog-title {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: start;
}

.blog-desc {
    font-size: 0.80rem;
    font-weight: 500;
    text-align: start
}

.author-date {
    font-size: 0.75rem;
    font-weight: bolder;
    text-align: start;
    margin-bottom: -3%;
}

[data-bs-theme="dark"] .author-date {
    color: rgb(120, 120, 120);
}
