body {
    background-color: #FDC9E1;
  }
  a {
    color: #7A284E;
  }
  h1, h2, h3, h4, p, ul {
      margin-left: 8px;
      margin-right: 8px;
      color: black;
  }
  .nav ul {
    background-color: #664353;
  }
  footer {
    color: black;
  }
  .footer a {
    color: #7A284E;
  }
  ol {
    color: black;
  }
  code {
    background-color: #906F7E;
    color: white;
  }
  .dropdown-content {
    background-color: #7A5164;
  }
  .dropdown-content a {
    color: white;
  }
  .dropdown-content a:hover {
    background-color: #37242D;
  }
  .navstd a:hover, .navalt a:hover, .navimg:hover, .dropdown:hover, .dropbtn {
    background-color: #37242D;
  }
  