@import '/assets/bootstrap/css/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}
body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

.translucent-pill {
    background-color: rgba(70, 70, 70, 0.6);
    backdrop-filter: blur(1rem);
    /*border: 1px solid rgb(255, 255, 255);*/
    border-radius: 25px;
    margin: 2%;
    width: 96%;
    height: 90%;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.translucent-frame-pill {
    background-color: rgba(70, 70, 70, 0.6);
    backdrop-filter: blur(1rem);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin: 2%;
    width: 96%;
    height: 90%;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.translucent-card {
    background-color: rgba(70, 70, 70, 0.6);
    backdrop-filter: blur(1rem);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    --bs-card-color: #f8f9fa;
    --bs-card-subtitle-color: #f8f9fa;
}

.transparent-list {
    --bs-list-group-bg: rgba(0, 0, 0, 0);
    --bs-list-group-color: #dee2e6;
}

.img-frame-pill {
    background-color: rgba(70, 70, 70, 0.6);
    backdrop-filter: blur(1.5rem);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 35px;
    width: 90%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(50, 50, 50, 0.4), 0 6px 20px 0 rgba(50, 50, 50, 0.39);
}

.img-pill {
    background-color: rgba(70, 70, 70, 0.6);
    backdrop-filter: blur(1.5rem);
    border-radius: 35px;
    width: 90%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(50, 50, 50, 0.4), 0 6px 20px 0 rgba(50, 50, 50, 0.39);
}

code {
    color: deeppink;
}
