@import '/assets/bootstrap/css/bootstrap.min.css';

body {
    font-family: Calibri, Segoe UI, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
footer {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}
.footer a {
  color: blue;
}
h1, h2 {
  font-weight: normal;
}
a {
  color: blue;
}
.banner, .banner > .banner-image {
  width: 100%;
  display: block;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navstd {
  float: left;
}
.navalt {
  float: right;
}
.navstd a, .navalt a  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navstd a:hover, .navalt a:hover, .navimg:hover, .dropdown:hover, .dropbtn {
  background-color: #111;
}
.navimg {
  text-align: center;
  float: right;
  padding: 6px 14px;
  object-fit: scale-down;
}
.img-container {
  text-align: center;
  display: block;
  max-width: 100%;
  min-width: 100%;
}
.projectimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, h4, p, ul {
    margin-left: 8px;
    margin-right: 8px;
}
code {
  font-family: Consolas, "courier new", sans-serif;
  color: black;
  background-color: #dedede;
  padding: 2px;
}
.neonText {
  font-family: "Vibur", sans-serif;
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
@keyframes pulsate0 {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #0fa,
      0 0 73px #0fa,
      0 0 80px #0fa,
      0 0 94px #0fa,
      0 0 140px #0fa;
  }
}

@keyframes pulsate1 {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0c1,
      0 0 80px #0c1,
      0 0 90px #0c1,
      0 0 100px #0c1,
      0 0 150px #0c1;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #0c1,
      0 0 73px #0c1,
      0 0 80px #0c1,
      0 0 94px #0c1,
      0 0 140px #0c1;
  }
}
@keyframes pulsate2 {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f00,
      0 0 80px #f00,
      0 0 90px #f00,
      0 0 100px #f00,
      0 0 150px #f00;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f00,
      0 0 73px #f00,
      0 0 80px #f00,
      0 0 94px #f00,
      0 0 140px #f00;
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.centertext {
  text-align:center;
  margin-left:5%;
  margin-right:5%;
}
