<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" type="image/png" href="/icon.png"/>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="alternate" type="application/atom+xml" href="https://ninjacheetah.dev/feed.xml">
    <script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/main.js"></script>
    <link rel="me" href="https://mastodon.online/@NinjaCheetah">
    {% if page.title == "Home" %}
    <meta property="og:title" content="Nearly There">
    {% else %}
    <meta property="og:title" content="{{ page.title }}">
    {% endif %}
    <meta property="og:locale" content="en_US">
    <meta name="description" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page.title }} | {{ site.title }}">
    <link rel="canonical" href="https://ninjacheetah.dev">
    <meta property="og:url" content="https://ninjacheetah.dev">
    <meta property="og:site_name" content="NinjaCheetah's Site">
    {% if page.custicon == true %}
    <meta property="og:image" content="{{ page.iconurl }}">
    {% else %}
    <meta property="og:image" content="https://ninjacheetah.dev/icon.png">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{{ content }}
</html>
