<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        <link rel="icon" type="image/png" href="/assets/image/icon.png">
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <script src="{{ '/assets/js/themeSwitcher.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/footerDate.js' | relative_url }}"></script>
        <meta name="fediverse:creator" content="@NinjaCheetah@mastodon.online">
    </head>
    <body>
        <div class="content">
            {% include nav.html %}
            {{ content }}
            {% include footer.html %}
        </div>
    </body>
</html>
