<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" type="image/png" href="/icon.png"/>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    {% if page.title == "Home" %}
      <meta property="og:title" content="Welcome">
    {% else %}
      <meta property="og:title" content="{{ page.title }}">
    {% endif %}
    <meta property="og:locale" content="en_US">
    <meta name="description" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page.title }} | {{ site.title }}">
    <link rel="canonical" href="https://ninjacheetah.github.io">
    <meta property="og:url" content="https://ninjacheetah.github.io">
    <meta property="og:site_name" content="NinjaCheetah's Site">
    {% if page.custicon == true %}
      <meta property="og:image" content="{{ page.iconurl }}">
    {% else %}
      <meta property="og:image" content="https://ncxprogramming.com/icon.png">
    {% endif %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
