---
layout: default
---

<script src="/projects/index.js"></script>
<script>
  window.addEventListener('load', handleFadeIn, false);
  function handleFadeIn() {
    const div = document.getElementById("projectPage");
    div.style.opacity = "0";
    fadeIn(div);
  }
</script>
<div class="centertext" id="projectPage">
  {% if page.archived == true %}
  <img src="https://cdn.ncxprogramming.com/file/image/banner/archived.svg" class="projectimg" style="width:80%;" alt="A banner showing that this project is archived.">
  {% endif %}
  <img src="{{ page.iconurl }}" class="projectimg" style="width:256px;height:256px;padding-top:8px;" alt="The icon for {{ page.title }}.">
  <h1>{{ page.title }}</h1>
  <p><b>Platform(s): </b>{{ page.platform }}</p>
  <p><b>Written in: </b>{{ page.language }}</p>

  {{ content }}
</div>
