---
layout: default
---

<style>
    body {
        background: #2B1C42;
        background-size: 500% 500%;
        background-position: 0 0, 0 0, 0 0, 0 0, 0 0;
        background-image: linear-gradient(90deg, #4F007CFF 0%, #006BACFF 100%);
        border-color: transparent;
    }

    a {
        color: white;
        font-weight: 500;
    }
</style>
<body data-bs-theme="light"> <!--this is a workaround because some people have the dark theme set from when that was an option and that breaks stuff-->
<div class="row align-items-center min-vh-100">
    <div class="col-lg-4">
        <div class="translucent-frame-pill text-center">
            <img src="/assets/img/icons/{{ page.icon }}" class="img-pill" style="height: auto; width: 14rem" alt="Icon for the program {{ page.title }}">
            <h1 style="font-weight: 500; font-size: 3.5em" class="mt-2">{{ page.title }}</h1>
            <div class="list-group list-group-horizontal transparent-list text-center mb-2" style="font-size: 1.25em;">
                <a href="{{ page.repo }}" class="list-group-item list-group-item-action">
                    <span style="font-weight: 600;"><i class="bi bi-github"></i> GitHub</span>
                </a>
                {% if page.mirror != null %}
                <a href="{{ page.mirror }}" class="list-group-item list-group-item-action">
                    <span style="font-weight: 600;"><i class="bi bi-symmetry-vertical"></i> Mirror</span>
                </a>
                {% endif %}
            </div>
            <div class="list-group transparent-list text-start mb-2">
                <a href="{{ page.repo }}/archive/refs/heads/main.zip" class="list-group-item list-group-item-action">
                    <span style="font-weight: 600;">
                        <i class="bi bi-file-earmark-zip"></i>
                        Source Code
                        <span style="float:right;">
                            <i class="bi bi-download"></i>
                        </span>
                    </span>
                </a>
            </div>
            <div class="list-group transparent-list text-start">
              {% for item in page.releases %}
                <a href="{{ page.repo }}/releases/latest/download/{{ item.bin }}" class="list-group-item list-group-item-action">
                    <span style="font-weight: 600;">
                        {% if item.platform == "windows" %}
                        <i class="bi bi-windows"></i>
                        {% elsif item.platform == "linux" %}
                        <i class="bi bi-ubuntu"></i>
                        {% elsif item.platform == "macos" %}
                        <i class="bi bi-apple"></i>
                        {% else %}
                        <i class="bi bi-file-earmark-zip"></i>
                        {% endif %}
                        {{ item.name }}
                        <span style="float:right;">
                            <i class="bi bi-download"></i>
                        </span>
                    </span>
                </a>
              {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg translucent-frame-pill">
        {{ content }}
    </div>
</div>
</body>
